@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}



:root {
    background: linear-gradient(to right, #e3dedd, #dfd2d0);
	--mainColor: #eae5e4;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	padding: 0 2rem;
	/* --textColor: #000000; */
    border-radius: 20px;
    position: absolute;
	width: 100%;
    top: 20px;
	z-index: 2;

}

/* LOGO */

.nav-bar .nav-logo {
	padding: 0%;
	margin: 0%;
    height: 50px;
	
}

.nav-bar .nav-logo:hover{
	filter:invert(100%);
	transition: 0.3s ease;
}


/* left links */
.nav-bar .left-div {
	position: absolute;
	left: 200px;
}


.nav-bar .mid {
    text-decoration: none;
    padding: 3px 17px;
    color: rgb(255, 255, 255);
	margin-right: 20px;
	border-radius: 3px;
	transition: 0.3s ease;
	font-weight: 700;
}

.nav-bar .mid:hover {
	text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

.nav-bar .left-div .verify{
	background-color: #dc3636;
	color: rgb(247, 255, 251);
	font-size: 14px;
	font-weight: 600;
}


.nav-bar .left-div .green{
	background-color: rgb(7, 100, 7);
	color: rgb(247, 255, 251);
	font-size: 14px;
	font-weight: 600;
}

/* right link */

.nav-bar .log {
    text-decoration: none;
    padding: 5px 18px;
	background-color: #FF6719;
	border: 2px solid #FF6719;
    color: rgb(255, 255, 255);
	margin-right: 26px;
	border-radius: 15px;
	transition: all ease-in-out 0.2s;
	font-weight: 700;
	position: absolute;
	right: 15px;
}

.nav-bar .log:hover {
	/* border-radius: 0px; */
	background-color: #c55b26;
	border: 2px solid #FF6719;
	/* transition: 0.3s ease; */
    /* background-color: transparent; */
	/* border: 1.5px solid rgb(255, 255, 255); */
    /* color: rgb(255, 255, 255); */

}



.nav-bar .loj {
    text-decoration: none;
    padding: 5px 15px;
	background-color: transparent;
    color: rgb(255, 255, 255);
	margin-right: 26px;
	/* border-radius: 15px; */
	border: 1.5px solid rgb(255, 255, 255);
	transition: all ease-in-out 0.2s;
	font-weight: 700;
	position: absolute;
	right: 120px;
}

.nav-bar .loj:hover {
	border-radius: 0px;
	transition: 0.3s ease;
    background-color: #ffffff;
	/* border: 1.5px solid rgb(255, 255, 255); */
    color: rgb(0, 0, 0);

}




/* DropDown */


.nav-bar .profile-img{
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 2px solid rgb(230, 227, 227);
	box-shadow: -1px 3px 14px -1px rgba(0,0,0,0.65);
	position: absolute;
	right: 60px;
	cursor: pointer;
}


.dropdown{
	background-color: white;
	width: 250px;
	padding: 10px 20px;
	border-radius: 10px;
	position: absolute;
	top: 80px;
	right: 30px;
	box-shadow: 0px 0.5rem 1.2rem rgba(0,0,0,0.3);
}


.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ffffff transparent;
	position: absolute;
	top: -8px;
	right: 40px;
}

.dropdown-pro{
	padding: 10px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(175, 175, 175);
	display: flex;
	align-items: center;
}

.dropdown-pro .profile-img-min{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid rgb(222, 222, 222);
	margin-right: 10px;
}

.dropdown-pro p{
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	display: flex;
	align-items: center;
	gap: 5px;
}

.dropdown-pro p .verified-student{
	height: 15px;
    width: 15px;
    color: #797979
}

.dropdown-pro p .verified-staff{
	height: 16px;
    width: 16px;
    color: #0073ee;
}


.dropdown li{
	margin-bottom: 5px;
	text-align: left;
	list-style: none;
}


.dropdown .dropdown-icons{
	/* height: 20px;
	width: 20px; */
	background-color: #e3dedd;
	padding: 10px;
	border-radius: 50%;
	margin-right: 10px;
	opacity: 0.8;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
}


.dropdown a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 2px 0px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	
}

.dropdown a:hover{
	transition: 0.2s ease;
	font-weight: bold;
}


.dropdown .arrow-right{
	margin-left: auto;
	/* height: 10px;
	width: 10px; */
	opacity: 0.8;
}






/*  */


.nav-bar nav {
	display: flex;
	align-items: center;
}




/* responsive Mobile Part */

@media only screen and (max-width: 1024px) {

	.nav-bar nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: rgb(171, 153, 153);;
		transition: 1s;
	}

	.nav-bar .responsive_nav {
		transform: translateY(100vh);
	}


	.nav-bar nav a {
		font-size: 1.5rem;
		left: 0%;
	}

	.nav-bar .left-div .splat {
		display: none;
	}

	.nav-bar .mid {
		margin-right: 5px;
	}


	.nav-bar .profile-img{
		position: absolute;
		right: 45px;
	}

	.nav-bar .dropdown{
		position: absolute;
		top: 70px;
		right: 20px;
	}

}

@media only screen and (max-width: 720px) {

	.nav-bar .loj {
		display: none;
	}

}